<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
<title>Technical</title>
<link rel = "icon" href ="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRm2VveDlUqzUbrNooutHi8NTVDvR-gYw30UQ&usqp=CAU" type = "image/x-icon">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/genre.css') }}"> -->
</head>
<style>
  body{
        background-color: #EAE7DC;  
    }
.hd{
	width: auto;  
text-align: center;  
padding: 15px;  
border: 3px ; 
	background-color: #1995ad;
}	
img {
  max-width: 100%;  
height: auto; 

}
h1{
        margin-top: auto;
        padding-bottom: 20px;
        font-family: sans-serif;
        text-align: center;
    }
h2{
    font-family: cursive;
}
.card {
/*  background-color:rgba(44, 62, 80, 1); */
background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 300px;
  text-align: center;
  font-family: arial;
  border-top: 6px solid lightseagreen;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-right: 40px;
  transition: 0.3s;
  display: inline-block;
  width: auto;
  color: black;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.tooltip {
	position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  height: auto;
  background-color: rgba(228, 233, 237, 1);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position:absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}	
.book{
        height: auto;
        margin-top: 15vh;
        margin-bottom: 15vh;
        margin-right: 5vh;
        margin-left: 5vh;
        display: block;
        background-color: #9CC3D5FF;
        border-radius: 20px;
        padding: 1em;
        width: auto;
        box-shadow: 0px -10px 20px -5px #E2E2E2;
        text-align: center;
    }

    @media screen and (max-width:600px) {
        .book{
            height: auto;
            margin-top: 12vh;
            margin-bottom: 12vh;
        }
}
</style>
<body>
<div class="hd">	
<img src="{{ user_image }}" >
</div>	<hr>
<div class="book">
	<p>Showing results for: <b>{{ search_name }}</b></p>

	<div class="tooltip">
  <div class="card">
<img src="https://m.media-amazon.com/images/I/61QP5zR79pL._SX260_.jpg" style="width:60%; height: auto;">

   <span class="tooltiptext">Written by <b>{{book_author[0]}} </b>{{book_desc[0]}} <b>download over here:</b><br>{{ book_file[0]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[0]}}</b></h4> 
    <p><b>{{book_rating[0]}}</b></p> 
  </div>
</div>
</div>
                       
<div class="tooltip">
  <div class="card">
  <img src="https://static.packt-cdn.com/products/9781786462589/cover/smaller" style="width:60%; height: auto;">

   <span class="tooltiptext">Written by <b>{{book_author[1]}} </b>{{book_desc[1]}} <b>download over here:</b><br>{{ book_file[1]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[1]}}</b></h4> 
    <p><b>{{book_rating[1]}}</b></p> 
  </div>
</div>
</div>
                       
<div class="tooltip">
  <div class="card">
  <img src="https://images-eu.ssl-images-amazon.com/images/I/4129RvRG9VL._SX342_SY445_QL70_ML2_.jpg" style="width:60%; height: auto;">

  <span class="tooltiptext">Written by <b>{{book_author[2]}} </b>{{book_desc[2]}} <b>download over here:</b><br>{{ book_file[2]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[2]}}</b></h4> 
    <p><b>{{book_rating[2]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/51flQ-b+F8L._SX415_BO1,204,203,200_.jpg" style="width:60%; height: auto;">

  <span class="tooltiptext">Written by <b>{{book_author[3]}} </b>{{book_desc[3]}} <b>download over here:</b><br>{{ book_file[3]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[3]}}</b></h4> 
    <p><b>{{book_rating[3]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSOndEdFtQnpyp3CwJXfCQYHDZzPpkcSxEftira5ZKHNg_VE8O4" style="width:60%; height: auto;">

  <span class="tooltiptext">Written by <b>{{book_author[4]}} </b>{{book_desc[4]}} <b>download over here:</b><br>{{ book_file[4]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[4]}}</b></h4> 
    <p><b>{{book_rating[4]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/91Se3g7PINL.jpg" style="width:60%; height: auto;">

  <span class="tooltiptext">Written by <b>{{book_author[5]}} </b>{{book_desc[5]}} <b>download over here:</b><br>{{ book_file[5]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[5]}}</b></h4> 
    <p><b>{{book_rating[5]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://learning.oreilly.com/library/cover/9781491988435/250w/" style="width:60%; height: auto;">

  <span class="tooltiptext">Written by <b>{{book_author[6]}} </b>{{book_desc[6]}} <b>download over here:</b><br>{{ book_file[6]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[6]}}</b></h4> 
    <p><b>{{book_rating[6]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://learning.oreilly.com/library/cover/9781492042594/250w/" style="width:60%; height: auto;">

  <span class="tooltiptext">Written by <b>{{book_author[7]}} </b>{{book_desc[7]}} <b>download over here:</b><br>{{ book_file[7]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[7]}}</b></h4> 
    <p><b>{{book_rating[7]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://learning.oreilly.com/library/cover/9781491978504/250w/" style="width:60%; height: auto;">

  <span class="tooltiptext">Written by <b>{{book_author[8]}} </b>{{book_desc[8]}} <b>download over here:</b><br>{{ book_file[8]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[8]}}</b></h4> 
    <p><b>{{book_rating[8]}}</b></p> 
  </div>
</div>
</div>


<div class="tooltip">
  <div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/514PnCc2a9L._SX258_BO1,204,203,200_.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[9]}} </b>{{book_desc[9]}} <b>download over here:</b><br>{{ book_file[9]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[9]}}</b></h4> 
    <p><b>{{book_rating[9]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
<img src="https://learning.oreilly.com/library/cover/9781492033158/250w/" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[10]}} </b>{{book_desc[10]}} <b>download over here:</b><br>{{ book_file[10]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[10]}}</b></h4> 
    <p><b>{{book_rating[10]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
<img src="https://images-na.ssl-images-amazon.com/images/I/912Ok+QXRGL.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[11]}} </b>{{book_desc[11]}} <b>download over here:</b><br>{{ book_file[11]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[11]}}</b></h4> 
    <p><b>{{book_rating[11]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
<img src="https://m.media-amazon.com/images/I/51EC+zLc4KL.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[12]}} </b>{{book_desc[12]}} <b>download over here:</b><br>{{ book_file[12]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[12]}}</b></h4> 
    <p><b>{{book_rating[12]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
<img src="https://d28hgpri8am2if.cloudfront.net/book_images/onix/cvr9781633430037/introducing-data-science-9781633430037_hr.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[13]}} </b>{{book_desc[13]}} <b>download over here:</b><br>{{ book_file[13]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[13]}}</b></h4> 
    <p><b>{{book_rating[13]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
<img src="https://images-na.ssl-images-amazon.com/images/I/51+kYprYK1L._SX379_BO1,204,203,200_.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[14]}} </b>{{book_desc[14]}} <b>download over here:</b><br>{{ book_file[14]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[14]}}</b></h4> 
    <p><b>{{book_rating[14]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQTNaO1S8OepMrlVwqXRaZZrRA6r20i5YVs7W8DrmqUUFI4hMGu" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[15]}} </b>{{book_desc[15]}} <b>download over here:</b><br>{{ book_file[15]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[15]}}</b></h4> 
    <p><b>{{book_rating[15]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/51ESVKtQhnL._SX383_BO1,204,203,200_.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[16]}} </b>{{book_desc[16]}} <b>download over here:</b><br>{{ book_file[16]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[16]}}</b></h4> 
    <p><b>{{book_rating[16]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/513P8XoCAEL._SX376_BO1,204,203,200_.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[17]}} </b>{{book_desc[17]}} <b>download over here:</b><br>{{ book_file[17]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[17]}}</b></h4> 
    <p><b>{{book_rating[17]}}</b></p> 
  </div>
</div>
</div>             

<div class="tooltip">
  <div class="card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMamCfC2uEZgFHsbOAhznCoUzjcciLkLAwPuTuU0_-cGZq1y4T" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[18]}} </b>{{book_desc[18]}} <b>download over here:</b><br>{{ book_file[18]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[18]}}</b></h4> 
    <p><b>{{book_rating[18]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://learning.oreilly.com/library/cover/9781449308216/250w/" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[19]}} </b>{{book_desc[19]}} <b>download over here:</b><br>{{ book_file[19]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[19]}}</b></h4> 
    <p><b>{{book_rating[19]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/51QkOLwKuZL._SX399_BO1,204,203,200_.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[20]}} </b>{{book_desc[20]}} <b>download over here:</b><br>{{ book_file[20]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[20]}}</b></h4> 
    <p><b>{{book_rating[20]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://images-eu.ssl-images-amazon.com/images/I/51kQCv2P5oL._SX198_BO1,204,203,200_QL40_FMwebp_.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[21]}} </b>{{book_desc[21]}} <b>download over here:</b><br>{{ book_file[21]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[21]}}</b></h4> 
    <p><b>{{book_rating[21]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/518ctEpEw1L._SX379_BO1,204,203,200_.jpg" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[22]}} </b>{{book_desc[22]}} <b>download over here:</b><br>{{ book_file[22]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[22]}}</b></h4> 
    <p><b>{{book_rating[22]}}</b></p> 
  </div>
</div>
</div>

<div class="tooltip">
  <div class="card">
  <img src="https://git-scm.com/images/progit2.png" style="width:60%; height: auto;">

 <span class="tooltiptext">Written by <b>{{book_author[23]}} </b>{{book_desc[23]}} <b>download over here:</b><br>{{ book_file[23]|urlize(20, true) }} </span>
  <div class="container">
    <h4><b>{{book_names[23]}}</b></h4> 
    <p><b>{{book_rating[23]}}</b></p> 
  </div>
</div>
</div>
   		       

</div>
</body>

</html>
